#SearchBar {
    text-align: center;
}

#SearchBar input{
    border-radius: 3px 0px 0px 3px;
}

#SearchBar button{
    border-radius: 0px 3px 3px 0px;
}

.video {
    cursor: pointer;
}

.preloader {
    display: block;
    margin: 20px auto;
}
